.student-dashboard {
    padding: 80px 0;
    text-align: center;
    min-height: 55vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.student-dashboard .dashboard-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}
