.testimonial {
    padding: 80px 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);

    h2 {
        font-size: 36px;
        color: var(--text-color);
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    .testimonial-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .testimonial-card {
            background-color: var(--bg-color);
            color: var(--text-color);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            width: 300px;
            text-align: left;
            flex-direction: column;
            align-items: center;
            transition: background-color 0.3s ease, color 0.3s ease;

            @media (max-width: 768px) {
                width: 80%;
                text-align: center;
            }

            .student-image {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    object-fit: cover;
                }
            }

            .message {
                font-size: 16px;
                color: var(--text-color);
                margin-bottom: 15px;
                line-height: 1.5;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            .info {
                text-align: center;
            }

            .name {
                font-size: 18px;
                font-weight: bold;
                color: var(--text-color);
                margin-bottom: 5px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            .position {
                font-size: 14px;
                color: var(--text-color);

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }
}
