.home {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center; 
    text-align: center;

    .home-content {
        width: 100%; 
        padding: 20px;
        background-color: var(--bg-color);
        border-radius: 8px;
        color: var(--text-color);

        h1 {
            font-size: 36px;
            color: var(--text-color);
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p {
            font-size: 18px;
            color: var(--text-color);
            line-height: 1.6;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        button {
            background-color: var(--button-bg);
            color: var(--button-text);
            margin-top: 20px;
            font-size: 20px;
            padding: 12px 24px;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
}

.student-testimonials {
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);

    h1 {
        font-size: 36px;
        color: var(--text-color);
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }
}
